[submodule "src/wheeled_mpc_ros"]
	path = src/wheeled_mpc_ros
	url = git@github.com:Tipriest/wheeled_mpc_ros.git
[submodule "src/servingbot"]
	path = src/servingbot
	url = git@github.com:Tipriest/servingbot.git
[submodule "src/ros_tools"]
	path = src/ros_tools
	url = git@github.com:Tipriest/ros_tools.git
